<div class="nav-bar">
  <nav class="flex">
    <ul class="flex pages pixel">
      <li><%= active_link_to "home", root_path %></li>
      <li><%= active_link_to "reviews", reviews_path %></li>
      <li><%= active_link_to "(WIP)new arrivals", new_arrivals_path %></li>
    </ul>
    <ul class="flex search">
      <%= form_with url: games_search_path, method: :get, class: "flex flex-row" do |form| %>
        <li><%= form.text_field :title, id: "search", placeholder: "game title" %></li>
        <li><%= form.submit "search", id: "search_button" %></li>
      <% end %>
    </ul>
  </nav>
</div>