<main>
  <section>
    <% games.each do |game| %>
      <div class="flex row">
        <%= image_tag "cover_art/chrono trigger.jpg", alt: "regular box art" %>
        <ul>
          <h3><%= link_to game.title, game %></h3>
          <li><%= trim_review game, 30 %></li>
          <div>
            <ul class="flex row">
              <li>Year: <%= game.year %></li>
              <li>Genre: <%= game.genre.name %></li>
            </ul>
          </div>
          <li>tags 🔖🔖🔖</li>
        </ul>
      </div>
    <% end %>
  </section>
</main>